body {
    font-family: Times, serif;
    font-size: 16px;
    padding: 0px 70px 0px 70px;
    background:white url(../img/hunter-green-grunge-texture.jpg) repeat;
    color: #000000;
}

#main {
    padding-top: 180px;
    padding-left:  15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #ffffff;
    /*border-radius: 0px 0px 5px 5px;*/
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #d3ffff;
    color: #355e3b;
    font-size: 30px;
}

/* Navigation Bar */
.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    /*border: 1px solid #e7e7e7;*/
}

/*Collapsed Header*/
.navbar-header{
    height: 170px;
}
/*Logo*/
.navbar-brand {
    padding-top: 2px;
    padding-left: 70px;
    float: left;
}
/* Menu List */
.navbar-nav{
    display: inline-block;
    list-style-type: none;
    margin: 5px 0px 0px 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 30px;
    overflow: hidden;
    text-align: right;
}
/* List Items */
.navbar li {
    float: left;
    display: block;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family:"Varela Round", sans-serif;
    color: black;
    text-transform: uppercase;
}
@media (max-width: 500px){
  .navbar-brand {
      width: 300px;
      padding-top: 2px;
      padding-left: 20px;
      float: left;
  }
}
/*Code to collapse breakpoint*/
@media (max-width: 1100px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
/* Change the link font to bold and color to grey on hover */
.navbar li:hover {
    background-color: #e7e7e7;

    border-color: #f9f9f9;
    border: 10px;
}
/* Active Item */
.active {
    font-weight: bolder;
}
/*End Navigation Bar*/

/* Slideshow */

/* Slideshow container */
.super-container {
  overflow: hidden;
  margin:0 auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 650px;
}
.super-container img {
  margin: auto;
  display: block;
  height:inherit;
}
#myImg1, #myImg2, #myImg3 {
    cursor: pointer;
    transition: 0.3s;
}
#myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover, #myImg7:hover, #myImg8:hover, #myImg9:hover, #myImg10:hover, #myImg11:hover, #myImg12:hover, #myImg13:hover, #myImg14:hover, #myImg15:hover, #myImg16:hover, #myImg17:hover, #myImg18:hover, #myImg19:hover, #myImg20:hover, #myImg21:hover, #myImg22:hover
{opacity: 0.9;}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-family:"Varela Round", sans-serif;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family:"Varela Round", sans-serif;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation*/
.fade {
  -webkit-animation: forwards;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation: forwards;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slprev, .slnext,.text {font-size: 11px}
}
/*End of Slideshow*/

/*Redirect Content*/
#redirect {
  padding-top: 10px;
  font-family: 'Varela Round', sans-serif;
}
h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #005E2F;
}
.desc {
  text-align: justify;
}

/*Intro Content*/
.intro {
  margin-bottom: 30px;
}
h2 {
  font-family: 'Varela Round', sans-serif;
  margin: 40px 0 30px 0;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  color: #005E2F;
}
.col1, .col2 {
  text-align: justify;;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}
.motto {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  color: #005E2F;
}

/*Contact Info*/
.contact-container {
  margin: 10px 20px 10px 20px;
  border-style: solid;
  border-width: thin;
  border-color: #d9d9d9;
  padding: 5px 20px 20px 20px;
  background-color: #e7e7e7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3 {
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  padding: 5px;
}
.map {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-details {
  padding: 5px 5px 0px 5px;
  margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color: #555555;
  text-align: left;
}
.contact-persons {
  text-align: left;
  padding: 5px;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  overflow: auto;
}

.social-media>a>img{
  padding: 5px;
  width: 40px;
}
.social-media>a>img:hover{
  opacity: 0.9;
}
#copyright{
  font-family: 'Varela Round',sans-serif;
  font-size: 10px;
  text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 85%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: "Varela Round", sans-serif;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation: forwards;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation: forwards;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Smaller Screens Modification*/
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    body{
      padding: 0px 5px 0px 5px;
      background:white url(../img/hunter-green-grunge-texture.jpg) repeat;
      color: #000000;
      font-size: 14px;
    }
    h1, h4, h2{
      font-size: 25px;
    }
    .navbar li {
      font-size: 15px;
    }
    .col1,.col2{
      font-size: 15px;
    }
    .motto{
      font-size: 30px;
    }

    .header {
      font-size: 20px;
      padding-left: 40px;
    }

}



/*about.html*/

.header {
  padding-left: 60px;
  padding-top: 15px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight:bolder;
}

.pic1>img, .pic2>img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.descimg,.descrip {
  font-family: 'Varela Round', sans-serif;
}
.descimg {
  font-style: italic;
}

h5 {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #005E2F;
}


/*rush.html*/

.fall16>img, .img>img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fall16>p {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}
.pics{
  margin-top: 30px;
  font-family: 'Varela Round', sans-serif;
}
.row1, .row2 {
  margin: 30px;
}
#album {
  font-size: 20px;
}

#end,.green {
  color: #005E2F;
}

/*brothers.html*/
#brothersHeader {
  font-size: 25px;
  text-align: left;
  padding-left: 27px;
}
#brosintro{
  font-size: 18px;
}
.president>img{
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.descbro{
  width: 70%;
  display: block;
  margin: auto;
  font-size: 17px;
  font-family: 'Varela Round', sans-serif;
}

.exec>img{
  display: block;
  margin: auto;
}

.descbroexec{
  width: 90%;
  display: block;
  margin: auto;
  font-size: 17px;
  font-family: 'Varela Round', sans-serif;
}

.descbroactives, .classblock{
  font-family: 'Varela Round', sans-serif;
}

.bold{
  font-weight: bold;
}
/*links.html*/
#facebook-header{
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  width: 100%;
  color: #005E2F;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#fbpage{
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#national-website{
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  font-weight: 900;
  text-align: left;
  padding-left: 20px;
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
